// Footer
.site-footer {
	padding-top: 0;
	padding-bottom: calc(1.7 * var(--global--spacing-vertical));
	@extend %responsive-alignwide-width;
	background-color: var(--global--color-turquoise-darkest);
	max-width: none!important;

	// Increase the top vertical spacing when there is no widget area.
	.no-widgets & {
		margin-top: calc(6 * var(--global--spacing-vertical));
	}

	@include media(desktop-only) {

		.no-widgets & {
			margin-top: calc(3 * var(--global--spacing-vertical));
		}
	}

	.site-footer__main {
		display: flex;
		justify-content: space-between;
		margin: auto;
		height: 180px;
		margin: 60px auto;

		@include media(desktop-only) {
			flex-direction: column;
			height: fit-content;
			padding: 0 calc(0.666 * var(--global--spacing-vertical));
			box-sizing: border-box;
		}

		.site-logo {
			margin: 0;
		}

		.site-name {
			font-size: var(--branding--title--font-size);
			color: var(--global--color-white);
			width: 55%;
			display: flex;
			flex-direction: column;
			justify-content: space-between;

			@include media(desktop-only) {
				width: 100%;
			}
			
			.site-name__description {
				font-family: var(--global--font-secondary);
				width: 70%;
				font-weight: 400;

				@include media(desktop-only) {
					margin-top: var(--global--spacing-vertical);
					width: 100%;
				}
			}
		}

		.site-footer__form {
			width: 30%;
			display: flex;
			flex-direction: column;
			justify-content: space-between;

			@include media(desktop-only) {
				width: 100%;
				margin-top: calc(2 * var(--global--spacing-vertical));
			}

			.site-footer__form-header {
				text-transform: uppercase;
				font-size: var(--global--font-size-xs);
				font-family: var(--global--font-secondary);
				color: var(--global--color-gray);
				font-weight: 600;

				@include media(desktop-only) {
					font-size: var(--global--font-size-xs) !important;
					margin-bottom: var(--global--spacing-vertical);
				}
			}

			.site-footer__form-desc {
				font-size: var(--footer--font-size);
				font-family: var(--global--font-secondary);
				color: var(--global--color-light-gray);

				@include media(desktop-only) {
					margin-bottom: var(--global--spacing-vertical);
				}
			}

			.site-footer__form-wrapper {
				display: flex;
				justify-content: space-between;

				.site-footer__form-input {
					width: 65%;
					border: none;
				}
	
				.site-footer__form-submit {
					width: 30%;
					background-color: var(--global--color-turquoise-300);
					color: var(--global--color-turquoise-900);
					border: none;

					@include media(desktop-only) {
						width: auto;
					}

					&:hover {
						border: none;
					}
				}

				.site-footer__form-input, .site-footer__form-submit {
					font-size: var(--footer--font-size);
					padding: 10px;
					font-family: var(--global--font-secondary);
					border-radius: var(--button--border-radius);
				}
			}
		}
	}
}

// Footer Branding
.site-footer > .site-info {
	padding-top: var(--global--spacing-vertical);
	color: var(--footer--color-text);
	font-family: var(--footer--font-family);
	font-size: var(--footer--font-size);
	line-height: var(--global--line-height-body);
	border-top: 1px solid var(--global--color-light-gray);
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: auto;

	.powered-by {
		margin-top: calc(0.5 * var(--global--spacing-vertical));
	}

	@include media(desktop) {
		display: flex;
		align-items: center;

		.powered-by {
			margin-top: initial;
			margin-left: auto;
		}
	}

	@include media(desktop-only) {
		flex-direction: column-reverse;
		width: calc(100% - 2 * 0.666 * var(--global--spacing-vertical));
		margin: 0 auto;
	}

	a {
		color: var(--footer--color-link);

		&:link,
		&:visited,
		&:active {
			color: var(--footer--color-link);
		}

		&:hover {
			color: var(--footer--color-link-hover);
		}

		&:focus {
			color: var(--footer--color-link-hover);

			.is-dark-theme & {
				color: var(--wp--style--color--link, var(--global--color-background));
			}

			// Change colors when the body background is white.
			.has-background-white & {
				color: var(--wp--style--color--link, var(--global--color-white));
			}
		}
	}

	.site-info__copyright {
		font-family: var(--global--font-secondary);
		font-size: var(--global--font-size-xs);
		color: var(--global--color-gray);
		font-weight: 400;
	}
}
